{% extends "base2.html" %}


{% block content %}
<style>
    table,
    th,
    td {
        padding-top: 150px;
        border: 0px solid black;
        width: 50%;
        font-family: 'Quicksand', sans-serif;
        color: black;
    }

    .card-wrapper {
        margin-right: auto;
        margin-left: auto;

        max-width: 75%;
    }

    .card-section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .fa-github:hover {
        color: black;
    }

    .fa-linkedin:hover {
        color: dodgerblue;
    }

    .more_info {
        color: rgb(194, 83, 166);
    }

    a {
        color: inherit;
        padding-left: 5px;
        padding-right: 5px;
    }
</style>

<center>
    <div class="card-wrapper">

        <!-- FIRST ROW -->

        <div class="card-section">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="./static/team_images/Shaq.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Abdul Haseeb Shahrukh Khan</h5>
                        <p class="card-text">
                            CI/CD Scrum Master</br>
                            <a class="more_info" href="">
                                More Info.</a>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <a href="https://www.linkedin.com/in/hubert-swic/">
                                <i class=" fab fa-linkedin" style="font-size:40px"></i>
                            </a>
                            <a href="https://github.com/deviljin112">
                                <i class="fab fa-github" style="font-size:40px"></i>
                            </a>
                        </small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="./static/team_images/Amaan.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Amaan Hashmi-Ubhi</h5>
                        <p class="card-text">
                            sample</br>
                            sample</br>
                            <a class="more_info" href="https://amaanhub.github.io/simple_static_website/">
                                More Info.</a>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <a href="https://www.linkedin.com/in/hubert-swic/">
                                <i class=" fab fa-linkedin" style="font-size:40px"></i>
                            </a>
                            <a href="https://github.com/deviljin112">
                                <i class="fab fa-github" style="font-size:40px"></i>
                            </a>
                        </small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="./static/team_images/Aminah.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Aminah Ahmed</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional
                            content.</br>
                            <a class="more_info" href="https://a-ahmed100216.github.io/Updated_Profile/">
                                More Info.</a>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <a href="https://www.linkedin.com/in/hubert-swic/">
                                <i class=" fab fa-linkedin" style="font-size:40px"></i>
                            </a>
                            <a href="https://github.com/deviljin112">
                                <i class="fab fa-github" style="font-size:40px"></i>
                            </a>
                        </small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="./static/team_images/Ben.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Ben Gilbert</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional
                            content.</br>
                            <a class="more_info" href="https://bengilbert98.github.io/profile_html/">
                                More Info.</a>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <a href="https://www.linkedin.com/in/hubert-swic/">
                                <i class=" fab fa-linkedin" style="font-size:40px"></i>
                            </a>
                            <a href="https://github.com/deviljin112">
                                <i class="fab fa-github" style="font-size:40px"></i>
                            </a>
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <!-- SECOND ROW -->

        <div class="card-section">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="./static/team_images/Farah.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Farah Hassan</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional
                            content.</br>
                            <a class="more_info" href="https://farah-h.github.io/">
                                More Info.</a>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <a href="https://www.linkedin.com/in/hubert-swic/">
                                <i class=" fab fa-linkedin" style="font-size:40px"></i>
                            </a>
                            <a href="https://github.com/deviljin112">
                                <i class="fab fa-github" style="font-size:40px"></i>
                            </a>
                        </small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="./static/team_images/Hubert.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Hubert Swic</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional
                            content.</br>
                            <a class="more_info" href="https://deviljin112.github.io/">
                                More Info.</a>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <a href="https://www.linkedin.com/in/hubert-swic/">
                                <i class=" fab fa-linkedin" style="font-size:40px"></i>
                            </a>
                            <a href="https://github.com/deviljin112">
                                <i class="fab fa-github" style="font-size:40px"></i>
                            </a>
                        </small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="./static/team_images/Jamie.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Jamie Atkin-Wasti</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional
                            content.</br>
                            <a class="more_info" href="https://jatkin-wasti.github.io/">
                                More Info.</a>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <a href="https://www.linkedin.com/in/hubert-swic/">
                                <i class=" fab fa-linkedin" style="font-size:40px"></i>
                            </a>
                            <a href="https://github.com/deviljin112">
                                <i class="fab fa-github" style="font-size:40px"></i>
                            </a>
                        </small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="./static/team_images/Jared.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Jared Solano</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional
                            content.</br>
                            <a class="more_info" href="https://jaredsparta.github.io/index">
                                More Info.</a>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <a href="https://www.linkedin.com/in/hubert-swic/">
                                <i class=" fab fa-linkedin" style="font-size:40px"></i>
                            </a>
                            <a href="https://github.com/deviljin112">
                                <i class="fab fa-github" style="font-size:40px"></i>
                            </a>
                        </small>
                    </div>
                </div>
            </div>
        </div>

        <!-- THIRD ROW -->

        <div class="card-section">
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top" src="./static/team_images/Leo.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Leo Waltmann</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional
                            content.</br>
                            <a class="more_info" href="https://ldaijiw.github.io/">
                                More Info.</a>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <a href="https://www.linkedin.com/in/hubert-swic/">
                                <i class=" fab fa-linkedin" style="font-size:40px"></i>
                            </a>
                            <a href="https://github.com/deviljin112">
                                <i class="fab fa-github" style="font-size:40px"></i>
                            </a>
                        </small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="./static/team_images/Matt.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Maciej Sokol</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional
                            content.</br>
                            <a class="more_info" href="https://mattsokol79.github.io/Profile/">
                                More Info.</a>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <a href="https://www.linkedin.com/in/hubert-swic/">
                                <i class=" fab fa-linkedin" style="font-size:40px"></i>
                            </a>
                            <a href="https://github.com/deviljin112">
                                <i class="fab fa-github" style="font-size:40px"></i>
                            </a>
                        </small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="./static/team_images/Sam.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Samuel Turton</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional
                            content.</br>
                            <a class="more_info" href="http://18.202.223.45/">
                                More Info.</a>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <a href="https://www.linkedin.com/in/hubert-swic/">
                                <i class=" fab fa-linkedin" style="font-size:40px"></i>
                            </a>
                            <a href="https://github.com/deviljin112">
                                <i class="fab fa-github" style="font-size:40px"></i>
                            </a>
                        </small>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="./static/team_images/Ubaid.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Ubaid-ur-rehman Muhammad</h5>
                        <p class="card-text">
                            This is a wider card with supporting text below as a natural lead-in to additional
                            content.</br>
                            <a class="more_info" href="https://ubaid97.github.io/flask_profile/">
                                More Info.</a>
                        </p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">
                            <a href="https://www.linkedin.com/in/hubert-swic/">
                                <i class=" fab fa-linkedin" style="font-size:40px"></i>
                            </a>
                            <a href="https://github.com/deviljin112">
                                <i class="fab fa-github" style="font-size:40px"></i>
                            </a>
                        </small>
                    </div>
                </div>
            </div>
        </div>

    </div>
</center>
{% endblock %}
