<!DOCTYPE html>
<html lang="en">

<head>
    <!--#region StyleSheets and Icons-->
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="static/Sparta_Favicon.jpg" sizes="64x64">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <title>Team Page | Sparta Global</title>

    <style>
        body{font-family:'Verdana', Helvetica, sans-serif;}
        p{letter-spacing:0.13em;}
        h1{letter-spacing:0.13em;}


        div#content{width:70%; margin-right:auto; margin-left:auto; padding-top:63px;}

        div#navigationbar a:hover{color: #a8a8a8; text-decoration:none;}
        #navigationbar a{text-decoration:none; color:rgb(255, 255, 255);}
        
        div#navigationbar{z-index:1; width:100%; height:auto; background-color:#01181B; position:fixed; top:0; left:0; right:0; min-width:350px; height:63px; font-size:0.99em;}
        div#navigationbar > div#left{float:left; padding-left:20px;}
        
        div#navigationbar > div#right{position:absolute; bottom:0; right:3%; display:flex;}
        .fa{padding: 0px 18px; transition:transform .2s;}
        .fa:hover {transform:scale(1.3);}

        .shadow-card:hover{box-shadow:0 3px 3px rgba(0,0,0,0.14);transition: box-shadow ease-in-out;}

        .opaque:hover{opacity:0.5;}

        .shadow-card{background-color:rgb(245, 245, 245);}

        .circularpicinside{border-radius:50%; height:30%; width:auto; height:auto; overflow:hidden; margin-left:auto; margin-right:auto;}
        .circularpicinside img{display:inline; margin:0 auto; height:100%; width:auto;}
    </style>

</head>

<body style="background-color:#ffffff;">

    <div id="navigationbar" style="color:white;">
        <div id="left">
            <a href="https://www.spartaglobal.com/" target="_blank">
                <img src="static/Sparta-global-logo-white.svg" width=auto height=60px/>
            </a>
        </div>

        <div id="right">
            <p style="letter-spacing:0.14em; align-self:flex-end; font-size:0.91em; font-weight:bold;">
                <a href="/">Home</a>&nbsp;&nbsp;&nbsp; <a href="/team">Team</a>&nbsp;&nbsp;&nbsp; <a href="/list">Jobs List</a>&nbsp;&nbsp;&nbsp; <a href="/toolchain">ToolChain</a>
            </p>
        </div>
    </div>


    <div id="content">
    

        <div class="jumbotron jumbotron-fluid" style="text-align:center; padding-top:100px; background-color:rgb(187, 187, 187);">
            <div class="container">
              <h1 class="display-3" style="font-weight:bold;">Meet the Team</h1>
              <hr>
              <p class="lead" style="font-size:2.51em;">We are <a style="color:rgb(187, 28, 187); font-weight:bold;">Engineering 74</a></p>
              <!-- <p class="lead" style="font-size:2.51em; font-weight:bold; color:rgb(109, 6, 109)">DevOps</p> -->
            </div>
        </div>

        <div class="row text-center">

            <!-- Shahrukh -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="shadow-card card h-100">

                    <div class="circularpicinside">
                        <img class="opaque card-img-top text-center" src="static/team_images/Shaq.jpg" style="display:block; margin-left:auto; margin-right:auto; width:70%; border-radius:50%; padding:10px;">
                    </div>
                
                    <div class="card-body">
                        <h4 class="card-title" style="font-size:1em; font-weight:bold;">Shahrukh Khan</h4>
                        <p class="card-text" style="font-size:0.9em;">Product Owner</p>
                    </div>
                
                    <div class="card-footer" style="padding-right:0px; padding-left:0px;">
                        <a href="https://github.com/khanmaster" target="_blank"><i class="fa fa-github" style="font-size:27px; color:#0e76a8;"></i></a>
                    </div>
                
                </div>
            </div>

            <!-- Farah -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="shadow-card card h-100">

                    <div class="circularpicinside">
                        <img class="opaque card-img-top text-center" src="static/team_images/Farah.jpg" style="display:block; margin-left:auto; margin-right:auto; width:70%; border-radius:50%; padding:10px;">
                    </div>
                
                    <div class="card-body">
                        <h4 class="card-title" style="font-size:1em; font-weight:bold;">Farah Hassan</h4>
                        <p class="card-text" style="font-size:0.9em;">Front-end Team</p>
                    </div>
                
                    <div class="card-footer" style="padding-right:0px; padding-left:0px;">
                        <a href="https://www.linkedin.com/in/farahmh/?originalSubdomain=uk" target="_blank"><i class="fa fa-linkedin-square" style="font-size:27px; color:#0e76a8"></i></a>
                        <a href="https://farah-h.github.io/" target="_blank"><i class="fa fa-home" style="font-size:27px; color:#0e76a8;"></i></a>
                        <a href="https://github.com/farah-h" target="_blank"><i class="fa fa-github" style="font-size:27px; color:#0e76a8;"></i></a>
                    </div>
                
                </div>
            </div>

            <!-- Jamie -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="shadow-card card h-100">

                    <div class="circularpicinside">
                        <img class="opaque card-img-top text-center" src="static/team_images/Jamie.jpg" style="display:block; margin-left:auto; margin-right:auto; width:70%; border-radius:50%; padding:10px;">
                    </div>
                
                    <div class="card-body">
                        <h4 class="card-title" style="font-size:1em; font-weight:bold;">Jamie Atkin-Wasti</h4>
                        <p class="card-text" style="font-size:0.9em;">Front-end Team</p>
                    </div>
                
                    <div class="card-footer" style="padding-right:0px; padding-left:0px;">
                        <a href="https://jatkin-wasti.github.io/" target="_blank"><i class="fa fa-home" style="font-size:27px; color:#0e76a8;"></i></a>
                        <a href="https://github.com/jatkin-wasti/" target="_blank"><i class="fa fa-github" style="font-size:27px; color:#0e76a8;"></i></a>
                    </div>
                
                </div>
            </div>

            <!-- Jared -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="shadow-card card h-100">
                    <img class="opaque card-img-top text-center" src="static/team_images/Jared.jpg" style="display:block; margin-left:auto; margin-right:auto; width:70%; border-radius:50%; padding:10px;">
                
                    <div class="card-body">
                        <h4 class="card-title" style="font-size:1em; font-weight:bold;">Jared Solano</h4>
                        <p class="card-text" style="font-size:0.9em;">Front-end Team</p>
                    </div>
                
                    <div class="card-footer" style="padding-right:0px; padding-left:0px;">
                        <a href="https://www.linkedin.com/in/jared-solano-301a79151/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:27px; color:#0e76a8"></i></a>
                        <a href="https://jaredsparta.github.io/" target="_blank"><i class="fa fa-home" style="font-size:27px; color:#0e76a8;"></i></a>
                        <a href="https://github.com/jaredsparta" target="_blank"><i class="fa fa-github" style="font-size:27px; color:#0e76a8;"></i></a>
                    </div>
                
                </div>
            </div>

            <!-- Aminah -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="shadow-card card h-100">
                    <img class="opaque card-img-top text-center" src="static/team_images/Aminah.jpg" style="display:block; margin-left:auto; margin-right:auto; width:70%; border-radius:50%; padding:10px;">
                
                    <div class="card-body">
                        <h4 class="card-title" style="font-size:1em; font-weight:bold;">Aminah Ahmed</h4>
                        <p class="card-text" style="font-size:0.9em;">Back-end Team</p>
                    </div>
                
                    <div class="card-footer" style="padding-right:0px; padding-left:0px;">
                        <a href="https://www.linkedin.com/in/aminah-ahmed-8ab17918b/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:27px; color:#0e76a8"></i></a>
                        <a href="https://a-ahmed100216.github.io/Updated_Profile/" target="_blank"><i class="fa fa-home" style="font-size:27px; color:#0e76a8;"></i></a>
                        <a href="https://github.com/a-ahmed100216" target="_blank"><i class="fa fa-github" style="font-size:27px; color:#0e76a8;"></i></a>
                    </div>
                
                </div>
            </div>

            <!-- Ben -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="shadow-card card h-100">
                    <img class="opaque card-img-top text-center" src="static/team_images/Ben.jpg" style="display:block; margin-left:auto; margin-right:auto; width:70%; border-radius:50%; padding:10px;">
                
                    <div class="card-body">
                        <h4 class="card-title" style="font-size:1em; font-weight:bold;">Ben Gilbert</h4>
                        <p class="card-text" style="font-size:0.9em;">Back-end Team</p>
                    </div>
                
                    <div class="card-footer" style="padding-right:0px; padding-left:0px;">
                        <a href="https://www.linkedin.com/in/ben-gilbert-6862861b7/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:27px; color:#0e76a8"></i></a>
                        <a href="https://bengilbert98.github.io/profile_html" target="_blank"><i class="fa fa-home" style="font-size:27px; color:#0e76a8;"></i></a>
                        <a href="https://github.com/bengilbert98" target="_blank"><i class="fa fa-github" style="font-size:27px; color:#0e76a8;"></i></a>
                    </div>
                
                </div>
            </div>

            <!-- Sam -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="shadow-card card h-100">
                    <img class="opaque card-img-top text-center" src="static/team_images/Sam.jpg" style="display:block; margin-left:auto; margin-right:auto; width:70%; border-radius:50%; padding:10px;">
                
                    <div class="card-body">
                        <h4 class="card-title" style="font-size:1em; font-weight:bold;">Sam Turton</h4>
                        <p class="card-text" style="font-size:0.9em;">Back-end Team</p>
                    </div>
                
                    <div class="card-footer" style="padding-right:0px; padding-left:0px;">
                        <a href="https://www.linkedin.com/in/samuel-turton-3b1133180/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:27px; color:#0e76a8"></i></a>
                        <a href="https://samturton2.github.io/" target="_blank"><i class="fa fa-home" style="font-size:27px; color:#0e76a8;"></i></a>
                        <a href="https://github.com/samturton2" target="_blank"><i class="fa fa-github" style="font-size:27px; color:#0e76a8;"></i></a>
                    </div>
                
                </div>
            </div>

            <!-- Ubaid -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="shadow-card card h-100">
                    <img class="opaque card-img-top text-center" src="static/team_images/Ubaid.jpg" style="display:block; margin-left:auto; margin-right:auto; width:70%; border-radius:50%; padding:10px;">
                
                    <div class="card-body">
                        <h4 class="card-title" style="font-size:1em; font-weight:bold;">Ubaid-ur-rehman Muhammad</h4>
                        <p class="card-text" style="font-size:0.9em;">Back-end Team</p>
                    </div>
                
                    <div class="card-footer" style="padding-right:0px; padding-left:0px;">
                        <a href="https://www.linkedin.com/in/ubaid-ur-rehman-m-9b2297bb/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:27px; color:#0e76a8"></i></a>
                        <a href="https://ubaid97.github.io/flask_profile/" target="_blank"><i class="fa fa-home" style="font-size:27px; color:#0e76a8;"></i></a>
                        <a href="https://github.com/Ubaid97/" target="_blank"><i class="fa fa-github" style="font-size:27px; color:#0e76a8;"></i></a>
                    </div>
                
                </div>
            </div>

            <!-- Amaan -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="shadow-card card h-100">
                    <img class="opaque card-img-top text-center" src="static/team_images/Amaan.jpg" style="display:block; margin-left:auto; margin-right:auto; width:70%; border-radius:50%; padding:10px;">
                
                    <div class="card-body">
                        <h4 class="card-title" style="font-size:1em; font-weight:bold;">Amaan Hashmi Ubhi</h4>
                        <p class="card-text" style="font-size:0.9em;">CI/CD Team</p>
                    </div>
                
                    <div class="card-footer" style="padding-right:0px; padding-left:0px;">
                        <a href="https://www.linkedin.com/in/amaan-hashmi-ubhi-564501171/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:27px; color:#0e76a8"></i></a>
                        <a href="https://amaanhub.github.io/simple_static_website/" target="_blank"><i class="fa fa-home" style="font-size:27px; color:#0e76a8;"></i></a>
                        <a href="https://github.com/AmaanHUB" target="_blank"><i class="fa fa-github" style="font-size:27px; color:#0e76a8;"></i></a>
                    </div>
                
                </div>
            </div>

            <!-- Hubert -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="shadow-card card h-100">
                    <img class="opaque card-img-top text-center" src="static/team_images/Hubert.jpg" style="display:block; margin-left:auto; margin-right:auto; width:70%; border-radius:50%; padding:10px;">
                
                    <div class="card-body">
                        <h4 class="card-title" style="font-size:1em; font-weight:bold;">Hubert Swic</h4>
                        <p class="card-text" style="font-size:0.9em;">CI/CD Team</p>
                    </div>
                
                    <div class="card-footer" style="padding-right:0px; padding-left:0px;">
                        <a href="https://www.linkedin.com/in/hubert-swic/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:27px; color:#0e76a8"></i></a>
                        <a href="https://deviljin112.github.io/" target="_blank"><i class="fa fa-home" style="font-size:27px; color:#0e76a8;"></i></a>
                        <a href="https://github.com/deviljin112" target="_blank"><i class="fa fa-github" style="font-size:27px; color:#0e76a8;"></i></a>
                    </div>
                
                </div>
            </div>

            <!-- Leo -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="shadow-card card h-100">
                    <img class="opaque card-img-top text-center" src="static/team_images/Leo.jpg" style="display:block; margin-left:auto; margin-right:auto; width:70%; border-radius:50%; padding:10px;">
                
                    <div class="card-body">
                        <h4 class="card-title" style="font-size:1em; font-weight:bold;">Leo Waltmann</h4>
                        <p class="card-text" style="font-size:0.9em;">CI/CD Team</p>
                    </div>
                
                    <div class="card-footer" style="padding-right:0px; padding-left:0px;">
                        <a href="https://www.linkedin.com/in/leowaltmann/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:27px; color:#0e76a8"></i></a>
                        <a href="https://ldaijiw.github.io/" target="_blank"><i class="fa fa-home" style="font-size:27px; color:#0e76a8;"></i></a>
                        <a href="https://github.com/ldaijiw" target="_blank"><i class="fa fa-github" style="font-size:27px; color:#0e76a8;"></i></a>
                    </div>
                
                </div>
            </div>

            <!-- Matt -->
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="shadow-card card h-100">
                    <img class="opaque card-img-top text-center" src="static/team_images/Matt.jpg" style="display:block; margin-left:auto; margin-right:auto; width:70%; border-radius:50%; padding:10px;">
                
                    <div class="card-body">
                        <h4 class="card-title" style="font-size:1em; font-weight:bold;">Matt Sokol</h4>
                        <p class="card-text" style="font-size:0.9em;">CI/CD Team</p>
                    </div>
                
                    <div class="card-footer" style="padding-right:0px; padding-left:0px;">
                        <a href="https://www.linkedin.com/in/maciej-sokol-825498149/" target="_blank"><i class="fa fa-linkedin-square" style="font-size:27px; color:#0e76a8"></i></a>
                        <a href="https://mattsokol79.github.io/Profile/" target="_blank"><i class="fa fa-home" style="font-size:27px; color:#0e76a8;"></i></a>
                        <a href="https://github.com/MattSokol79" target="_blank"><i class="fa fa-github" style="font-size:27px; color:#0e76a8;"></i></a>
                    </div>
                
                </div>
            </div>



        </div>

    </div>

    <footer class="py-3" style="background-color: #01181b">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright © Engineering 74</p>
        </div>
    </footer>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>